.ui-icon-myapp-folder{

 background: url("../images/folder-open.png") no-repeat;

}

.ui-icon-myapp-camera{

 background: url("../images/camera.png") no-repeat;

}

.ui-icon-myapp-video{

 background: url("../images/video.png") no-repeat;

}

.ui-icon-myapp-audio{

 background: url("../images/audio.png") no-repeat;

}

.ui-icon-myapp-local{

 background: url("../images/local.png") no-repeat;

}

.ui-icon-myapp-contato{

 background: url("../images/contato.png") no-repeat;

}

.ui-icon-myapp-multimidia{

 background: url("../images/contato.png") no-repeat;

}